@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-lg text-gray-900;
}

h1 {
    @apply text-4xl text-black font-bold mb-8;
}

h2 {
    @apply text-3xl text-black font-semibold;
}

h3 {
    @apply text-2xl text-black;
}

h4 {
    @apply text-xl text-gray-500;
}